/* GENERAL */
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
background: #ffffffe8;
backdrop-filter: blur(10px);
box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.nav-links li {
display: inline-block;
margin: 0 15px;
}
.nav-links a {
text-decoration: none;
font-weight: 500;
}
.active {
color: #0057ff;
}


/* HERO */
.hero {
display: flex;
align-items: center;
justify-content: space-between;
padding: 60px;
}
.hero-text h1 {
font-size: 2.6rem;
}
.btn {
display: inline-block;
padding: 12px 25px;
background: #0057ff;
color: #fff;
border-radius: 6px;
text-decoration: none;
margin-top: 10px;
}
.hero-img {
max-width: 40%;
}


/* HIGHLIGHTS */
.cards {
display: flex;
justify-content: center;
gap: 25px;
padding: 40px;
}
.card {
background: #fff;
padding: 20px;
border-radius: 10px;
width: 30%;
text-align: center;
box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.card img {
width: 80px;
}


/* FOOTER */
footer {
text-align: center;
padding: 20px;
background: #eee;
margin-top: 40px;
}